<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HelpDeskApfEntities" connectionString="metadata=res://*/HelpDeskModel.csdl|res://*/HelpDeskModel.ssdl|res://*/HelpDeskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-MEK92CR;initial catalog=HelpDeskApf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
